<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
    <property name="connection.driver_class">org.sqlite.JDBC</property>
    <property name="hibernate.connection.url">jdbc:sqlite:C:/users/Scott Meyer/metrolink-project/src/main/resources/metrolink.db</property>
    
    <mapping class="metrolink.Metrolink" />
    <mapping class="metrolink.MetrolinkCalculator" />
    <mapping class="metrolink.Stop" />
    <mapping class="metrolink.StopTrip" />
    <mapping class="metrolink.StopTime" />
    
  </session-factory>
</hibernate-configuration>
